*{
    font-family: 'poppins', sans-serif;
}
.hero-bg{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./images/bg-img.avif);
    background-size: cover;
    background-position: center;

}
.section-title{
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}
.section-title::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 4px;
    background: rgb(42, 42, 222);
    left: 15%;
    bottom: -10px;

}